@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap");
/**/
:root {
  --primary-white: #ffffff;
  --primary-light-grey: #f4f4f4;
  --primary-grey: #ccd1d9;
  --primary-dark-grey: rgb(102, 102, 102);
  --primary-orange: rgb(250, 171, 0);
  --primary-dark: rgb(52, 58, 64);
  --primary-red: #ef4035;
  --primary-hover-red: #f33501;
  --primary-black: #000000;
  --primary-transparent-black: rgba(0, 0, 0, 0.7);
  --primary-green: green;
  --primary-info: rgb(52, 221, 233);
}

body {
  font-family: "Roboto Condensed", sans-serif !important;

}
nav a.nav-link {
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 0.04rem;
  cursor: pointer;
}


.navbar-nav > li > a {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  color: var(--primary-white) !important;
  border-top: 0.1875rem solid var(--primary-dark);
}

.navbar-nav > li > a.active,  .navbar-nav > li > a:focus {
  border-top: 0.1875rem solid var(--primary-orange);
}

.navbar-nav > li > a:hover {
  border-top: 0.1875rem solid var(--primary-orange);
}

.logo {
  margin-top: 1rem;
  width: 4rem;
  background-size: cover;
}
nav a.nav-link {
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 0.04rem;
  cursor: pointer;
  color: var(--primary-white) !important;
}

.navbar-nav > li > a {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  color: var(--primary-white) !important;
}

.header-wraper {
  position: relative;
  background: url("../src/images/header2.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.main-info {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 1;
}

.main-info h1 {
  color: var(--primary-orange);
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  font-family: "Source Code Pro", monospace;
}

.typed-text {
  font-size: 2rem;
  color: var(--primary-white);
  margin: 2rem;
}

@media (max-width: 768px) {
  .main-info h1 {
    font-size: 1.7rem !important;
  }
  .typed-text {
    font-size: 1.3rem !important;
  }
}

.tsparticles-canvas-el {
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 1;
}

@media(max-width: 768px) {
  .particles-canvas {
    display: none;
  }
}

.about {
  height: 40rem;
  justify-content: center;
  align-items: center;
  display: flex;
}

.me {
  width: 45rem;
  border-radius: 50%;
  padding: 0.3rem;
}


@media(max-width: 468px) {
  .profile-img {
    width: 10rem;
  }
}

.image-container {
  position: relative;
  width: 100%;
}
.image-container .after {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: rgba(204, 209, 211, 0.8);
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: 1s ease;
}
.image-container:hover .after {
  bottom: 0;
  height: 100%;
}

.project-text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.icons > div {
  justify-content: space-between;
  align-items: baseline;
  display: inline;
  flex-wrap: wrap;
}

.others {
  justify-content: space-between;
  align-items: baseline;
  display: flex;
  flex-direction: row;
  height: fit-content;
}



.myskills {
  height: 45rem;
  justify-content: center;
  position: relative;
  background-color: rgb(87, 84, 87);
}




.footer {
  background-color: rgb(87,84,87);
  
  padding: 3rem;
  height: 25vh;
}

.footer a {
  text-decoration: none;
  color: var(--primary-dark-grey);
}

.footer a:hover {
  text-decoration: none;
  color: orange;
  cursor:pointer;
}

.footer p {
  margin-bottom: 0;
}

.resultextconfirmation{
  font-weight: bold;
  color: green;
}

.code-l {
  position: relative;
  color: pink;
}

.code-l::after {
  content: attr(data-line-nr);
  position: absolute;
  left: -60px;
  color: #3b3553;
  font-family: Roboto Mono, Courier New, Courier, monospace !important;
  font-size: 16px;
  line-height: 1.6;
  z-index: 3;
  top: 0;
}

.comment {
  color: rgb(153, 153, 153);
  display: inline-block;
  margin: 0;
  padding: 0;
}

.dot {
  color: rgb(54, 54, 54);
  display: inline-block;
}

.methods {
  color: white;
  display: inline-block;
}
.propname {
  color: yellow;
}

.scope {
  color: red;
}

.prop2 {
  color: teal;
}

.string {
  color: green;
}

.number {
  color: orange;
}

.blinker {
  margin-right: 10px;
}

.blinker::after {
  content: '';
  width: 1px;
  height: 18px;
  background: white;
  position: absolute;
  bottom: 4px;
  animation: blinkerAnime 0.4s infinite alternate;
}

@keyframes blinkerAnime {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}


.portfolio{
  background: rgb(85, 82, 85);
}
.contact{
  background-color: rgb(170, 165, 170);
}

